#root,
body {
    border: 1px red solid;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
}